*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
}

body > header {
    background-color: blue;
    border: 3px black solid;
    width: 200px;
     height: 400px;
}
main {
    background-color: red;
    border: 3px black solid;
    width: 200px;
     height: 400px;
}

.section{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(0, 204, 255);
    border: 3px black solid;
}

aside {
    background-color: green;
    border: 3px black solid;
    width: 200px;
    position: absolute;
    right: 10px;
    bottom:  10px;
     height: 150px;
}

.caja {
    background-color: rgb(128, 0, 90);
    border: 3px black solid;
    width: 50px;
    height:  50px;
    position: sticky;
    top: 40px;
    right: 10px;
    border-radius: 50%;
}

body > footer {
    background-color: purple;
    border: 3px black solid;
    width: 200px;
     height: 1400px;
}