* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(197, 197, 197);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0px;
    text-decoration: underline;
}

form {
    background-color: rgba(250, 235, 215, 0.5);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto ;
    border: solid 1px black
}

input {
    margin: 5px 0px;
}

button {
    margin: 10px 0px;
    padding: 5px 15px; 
}

table {
    width: 550px;
    margin: 10px auto ;
    border: 1px black solid;
    padding: 10px;
    border-spacing: 20px 10px;
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 5px;
}

th {
    border-bottom: solid 1px black;
    
}

